<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>SpringMVC Demo 首页</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>SpringBoot博客系统</h1>
    <hr/>
    <a href="/user/users/" type="button" class="btn btn-primary btn-sm">查询所有用户</a>
    <a href="/blog/blogs/" type="button" class="btn btn-primary btn-sm">查询所有博客</a>
    <hr/>
    <h4>添加用户</h4>
    <form action="/user/users/add/" method="post" >
        <div class="form-group">
            <label>用户名：</label>
            <input type="text" class="form-control" id="usernameA" name="usernameA"/>
        </div>
        <div class="form-group">
            <label>密码：</label>
            <input type="text" class="form-control" id="password" name="password"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">注册</button>
        </div>
    </form>
    <hr/>
    <h4>添加博客</h4>
    <form action="/blog/blogs/add/" method="post" >
        <div class="form-group">
            <label>标题：</label>
            <input type="text" class="form-control" id="titleA" name="titleA"/>
        </div>
        <div class="form-group">
            <label>内容：</label>
            <input type="text" class="form-control" id="content" name="content"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">添加</button>
        </div>
    </form>
    <hr/>
    <!--<div class="container">-->
    <h4>删除用户</h4>
    <form action="/user/users/delete/" method="post" >
        <div class="form-group">
            <label>请输入要删除的用户名：</label>
            <input type="text" class="form-control" id="username" name="username"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">提交</button>
        </div>
    </form>
    <hr/>
    <!--</div>-->
    <h4>删除博客</h4>
    <form action="/blog/blogs/delete/" method="post" >
        <div class="form-group">
            <label>请输入要删除的博客名：</label>
            <input type="text" class="form-control" id="title" name="title"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">提交</button>
        </div>
    </form>
    <hr/>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>